Fase 2/ASP/ProyectoIPC2/ProyectoIPC2/Web References/WServiceIPC2/WSIPC2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicio/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WSIPC2" targetNamespace="http://Servicio/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WSProyecto/WSIPC2?xsd=1" namespace="http://Servicio/" />
    </xsd:schema>
  </types>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <message name="crearOrganizacion">
    <part name="parameters" element="tns:crearOrganizacion" />
  </message>
  <message name="crearOrganizacionResponse">
    <part name="parameters" element="tns:crearOrganizacionResponse" />
  </message>
  <message name="crearUsuario">
    <part name="parameters" element="tns:crearUsuario" />
  </message>
  <message name="crearUsuarioResponse">
    <part name="parameters" element="tns:crearUsuarioResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="prueba">
    <part name="parameters" element="tns:prueba" />
  </message>
  <message name="pruebaResponse">
    <part name="parameters" element="tns:pruebaResponse" />
  </message>
  <message name="getCargoUsuario">
    <part name="parameters" element="tns:getCargoUsuario" />
  </message>
  <message name="getCargoUsuarioResponse">
    <part name="parameters" element="tns:getCargoUsuarioResponse" />
  </message>
  <portType name="WSIPC2">
    <operation name="login">
      <input wsam:Action="http://Servicio/WSIPC2/loginRequest" message="tns:login" />
      <output wsam:Action="http://Servicio/WSIPC2/loginResponse" message="tns:loginResponse" />
    </operation>
    <operation name="crearOrganizacion">
      <input wsam:Action="http://Servicio/WSIPC2/crearOrganizacionRequest" message="tns:crearOrganizacion" />
      <output wsam:Action="http://Servicio/WSIPC2/crearOrganizacionResponse" message="tns:crearOrganizacionResponse" />
    </operation>
    <operation name="crearUsuario">
      <input wsam:Action="http://Servicio/WSIPC2/crearUsuarioRequest" message="tns:crearUsuario" />
      <output wsam:Action="http://Servicio/WSIPC2/crearUsuarioResponse" message="tns:crearUsuarioResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://Servicio/WSIPC2/helloRequest" message="tns:hello" />
      <output wsam:Action="http://Servicio/WSIPC2/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="prueba">
      <input wsam:Action="http://Servicio/WSIPC2/pruebaRequest" message="tns:prueba" />
      <output wsam:Action="http://Servicio/WSIPC2/pruebaResponse" message="tns:pruebaResponse" />
    </operation>
    <operation name="getCargoUsuario">
      <input wsam:Action="http://Servicio/WSIPC2/getCargoUsuarioRequest" message="tns:getCargoUsuario" />
      <output wsam:Action="http://Servicio/WSIPC2/getCargoUsuarioResponse" message="tns:getCargoUsuarioResponse" />
    </operation>
  </portType>
  <binding name="WSIPC2PortBinding" type="tns:WSIPC2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearOrganizacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="prueba">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCargoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSIPC2">
    <port name="WSIPC2Port" binding="tns:WSIPC2PortBinding">
      <soap:address location="http://localhost:8080/WSProyecto/WSIPC2" />
    </port>
  </service>
</definitions>